<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bca_bos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".LupaPasswordActivity"></activity>
        <activity android:name=".cobaImage"></activity>
        <activity android:name=".PasswordActivity" />
        <activity android:name=".StartActivity">

        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".OTPActivity" />
        <activity android:name=".FillDataActivity" />
        <activity android:name=".LoginActivity" />

        <service
            android:name=".KeyboardBOSnew"
            android:label="BCABOS"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/bcabos_method" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <activity
            android:name=".ApplicationContainer"
            android:label="@string/title_activity_application_container">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>